*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
section ul li{
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active{
    background: #03a9f4;
    color: #fff;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product .itemBox{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}
.product .itemBox.hide{
    display: none;
}
.product .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body_center{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*
.navbarend{
    height: 3rem;
    margin: 20px;
    border-radius: 5rem;
}
*/
.navbarend ul{
    display: inline-block;

 }

 .navbarend ul li{
     float: left;
     line-height: 2.5rem;
     
 }

.navbarend ul li a {
     color: white;
     font-weight: bold;
     text-decoration: none;
     font-size: 20px;
     margin: auto 1.15rem;
 }

i{
    color: #fff;
}

@media screen and (max-width: 1024px){
    .body_center{
        width: 95%;
    }
}
@media screen and (max-width: 600px){
    .body_center{
        width: 97%;
    }
}

@media screen and (min-width: 600px){
    .navbarend{
        visibility: hidden;
    }
    br{
        display: none;
    }
}
